{% extends "base.html.twig" %}

{% block body %}
<h1>Les categories</h1>

    {% for categorie in categories %}
        <h2>{{ categorie.nom }}</h2>
        <p>{{ categorie.description }}</p>
    {% endfor %}

{% endblock %}