<header>
<nav>
    <ul>
        <li><a href="{{ path('app_main') }}">Accueil</a></li>
        <li><a href="{{ path('app_about') }}">About</a></li>
        <li><a href="{{ path('app_test') }}">Test</a></li>
        <li><a href="{{ path('app_voir_categories') }}">Voir categories</a></li>
    </ul>
</nav>
</header>